
/* tab 栏 */
.mu-tabs {
  color: #666;
  border-bottom: 1px solid #eee;
  font-size: 0.28rem;
}
.mu-tab {
  min-width: 0.63rem;
}
.mu-tab-active {
  color: #fa595e;
}

/* 轮播图 */
.mu-carousel {
  height: 100%;
}
.mu-carousel-indicators {
  height: 0.56rem;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
}

.mu-carousel-indicator-button {
  width: 0.12rem;
  height: 0.12rem;
  margin-left: 0;
}

/* 按钮 */
.mu-raised-button {
  min-width: auto;
  font-size: 0.28rem;
  border-radius: 0.6rem;
  height: 0.8rem;
  line-height: 0.8rem;
  box-shadow: none;
  background-color: #bfbfbf;
}
.mu-raised-button:active {
  box-shadow: none;
}
.mu-raised-button.input {
  line-height: 0.6rem;
  height: 0.6rem;
  font-size: 0.24rem;
}
.mu-raised-button.square {
  height: 0.42rem;
  line-height: 0.42rem;
  border-radius: 3px;
  border: 1px solid #fa595e;
  color: #fa595e;
  background-color: #fff;
}
.mu-raised-button.square .mu-button-wrapper {
  padding: 0 0.2rem;

}
.mu-raised-button.h42 {
  line-height: 0.42rem;
  height: 0.42rem;
  font-size: 0.24rem;
}
a.mu-raised-button.mu-button-full-width {
  color: #fff;
}

/* 复选框 */
.mu-checkbox-checked {
  color: #fa595e;
}
.piliang .mu-checkbox {
  color: #fff;
}

/* 底部tab 栏 */
.mu-bottom-nav {
  width: 100%;
}