/*
 * @Author: chengh@ebs.org.cn 
 * @Date: 2018-11-22 16:34:18 
 * @Last Modified by: chengh@ebs.org.cn
 * @Last Modified time: 2018-12-04 20:07:33
 */

p {
  margin: 0;
}

.body a {
  color: #333;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

html {
  font-size: 13.33333333vw;
}

body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 0.28rem;
  color: #333;
}
input {
  height: 0.6rem;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 0.3rem;
}
textarea {
  min-height: 1.46rem;
  border: none;
  outline: none;
  width: 100%;
}
textarea.square {
  background-color: #fafafa;
  border: 1px solid #bdc5cb;
  border-radius: 3px;
  padding-left: 0.3rem;
}
input.round {
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.3);
}
input.square {
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid #bdc5cb;
}

::-webkit-input-placeholder {
  color: #999;
  font-size: 0.24rem;
}
:-moz-placeholder {
  font-size: 0.24rem;
  color: #999;
}
::-moz-placeholder {
  font-size: 0.24rem;
  color: #999;
}
:-ms-input-placeholder {
  font-size: 0.24rem;
  color: #999;
}
.title > a {
  color: #fff;
}

/* 工具类 */
.theme-color {
  color: #fa595e;
}

.theme-bg {
  background-color: #fa595e;
}

.theme-border {
  border: 1px solid #fa595e;
}
.theme-b-b {
  border-bottom: 1px solid #fa595e;
}
.theme-dash-b {
  border: 1px dashed #fa595e;
}

.bg-white {
  background-color: #fff;
  /* box-shadow: 1px 0 3px 0 #acacac; */
}
.box-sh {
  box-shadow: 0px 0.1px 0.3px #acacac;
}

.fb-bg {
  background: #fbfbfb;
}
.gray-color {
  color: #969696
}
.gray-color2 {
  color: #e5e5e5
}

.body .color-white {
  color: #fff;
}
.yellow-color {
  color: #f2cb2e;
}
.color-orange {
  color: #f29e2e;
}
.color-blue {
  color: #358ef2;
}
.color-blue2 {
  color: #53cad1;
}
.color-green {
  color: #49a81b;
}
.color-999 {
  color: #999;
}
.color-666 {
  color: #666;
}

.w-100 {
 width: 100%; 
}

/* 虚线底边框 */
.dash-b-b {
  border-bottom: 1px dashed #bdc5cb;
}

.gray-border {
  border: 1px solid #bdc5cb;
}
.gray-b-b {
  border-bottom: 1px solid #bdc5cb;
}
.gray-b-b2 {
  border-bottom: 1px solid #e5e5e5;
}
/* 对齐方式 */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* 圆角 */
.br-3 {
  border-radius: 3px;
}
.br-half {
  border-radius: 50%;
}

/* 字体形态 */
.fw-b {
  font-weight: bold;
}

/* 定位 */
.pr {
  position: relative;
}

/* 内边距 */
.pd-lr-60 {
  padding: 0 0.6rem;
}
.pd-lr-30 {
  padding: 0 0.3rem;
}
.pt-60 {
  padding-top: 0.6rem;
}

.pd-30 {
  padding: 0.3rem;
}
.pd-t20-l30 {
  padding: 0.2rem 0.3rem;
}
.pd-10 {
  padding: 0.1rem;
}

.pd-lr-20 {
  padding: 0 0.2rem;
}
.pd-tb-30 {
  padding: 0.3rem 0;
}
.pd-tb-20 {
  padding: 0.2rem 0;
}

.pb-80 {
  padding-bottom: 0.8rem;
}
.pb-60 {
  padding-bottom: 0.6rem;
}
.pb-40 {
  padding-bottom: 0.4rem;
}
.pb-20 {
  padding-bottom: 0.2rem;
}
.pl-50 {
  padding-left: 0.5rem;
}
.pl-40 {
  padding-left: 0.4rem;
}
.pl-30 {
  padding-left: 0.3rem;
}
.pl-20 {
  padding-left: 0.2rem;
}

.pr-50 {
  padding-right: 0.5rem;
}

/* 外边距 */
.m-tb-20 {
  margin: 0.2rem 0;
}
.m-10 {
  margin: 0.1rem;
}
.mt-10 {
  margin-top: 0.1rem;
}
.m-lr-20 {
  margin: 0 0.2rem;
}
.m-lr-30 {
  margin: 0 0.3rem;
}

.ml-30 {
  margin-left: 0.3rem;
}
.ml-24 {
  margin-left: 0.24rem;
}
.ml-10 {
  margin-left: 0.1rem;
}
.mr-50 {
  margin-right: 0.5rem;
}
.mr-10 {
  margin-right: 0.1rem;
}
.mr-6 {
  margin-right: 0.06rem;
}

.mb-178 {
  margin-bottom: 1.78rem;
}
.mb-70 {
  margin-bottom: 0.7rem;
}
.mb-40 {
  margin-bottom: 0.4rem;
}
.mb-30 {
  margin-bottom: 0.3rem;
}
.mb-26 {
  margin-bottom: 0.26rem;
}

.mb-20 {
  margin-bottom: 0.2rem;
}
.mb-10 {
  margin-bottom: 0.1rem;
}

/* 字体 */
.fs-12 {
  font-size: 0.24rem;
}
.fs-14 {
  font-size: 0.28rem;
}
.fs-16 {
  font-size: 0.32rem;
}
.fs-18 {
  font-size: 0.36rem;
}
.fs-22 {
  font-size: 0.44rem;
}
.fs-it {
  font-style: italic;
}

/* 弹性盒子 */
.d-fl {
  display: flex;
}
.fl-1 {
  flex: 1;
}
.fl-col {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-space-b {
  justify-content: space-between;
}
.jc-end {
  justify-content: flex-end;
}
.al-center {
  align-items: center;
}

/* 浮动 */
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}

/* 盒子内容溢出处理 */
.of-hidden {
  overflow: hidden;
}
.of-x-scroll {
  overflow-x: scroll;
}
.of-y-scroll {
  overflow-y: scroll;
}

/* 单行文本溢出省略 */
.text-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-inden {
  text-indent: 2em;
}

.lh-90 {
  line-height: 0.9rem;
}
.lh-60 {
  line-height: 0.6rem;
}
.lh-52 {
  line-height: 0.52rem;
}

.date-btn {
  padding: 0.06rem;
  background-color: #e6e6e6;
  color: #333;
  text-align: center;
}

/* 旋转 90 度 */
.rotate-ne-90 {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari 和 Chrome */
  -o-transform: rotate(-90deg);
}

/* 小红点 */
.red-point {
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  background-color: #e94d4d;
  border-radius: 50%;
}

/* 商品模糊背景 */
.mohu-bg-img {
  background: url('../../../static/images/shangpin/mohu_bg.png') no-repeat;
  background-size: 100% 100%;
}

/* 主题圆角 tag */
.round-tag {
  display: inline-block;
  padding: 0 0.12rem;
  line-height: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid #fa595e;
  margin: 0 0.1rem;
  font-size: 0.24rem;
}

/* 主题按钮 方形 */
a.tags-square {
  display: inline-block;
  padding: 0 0.24rem;
  line-height: 0.46rem;
  border-radius: 4px;
  border: 1px solid #fa595e;
  color: #fa595e;
  margin: 0.2rem;
}
a.tags-square.active {
  background-color: #fa595e;
  color: #fff;
}

/* 弹窗 */
.category-popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.category-popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 92vw;
  transform: translate(-50% , -60%);
  background: url('../../../static/images/shangpin/mohu_bg.png') no-repeat #fff;
  background-size: 100% 100%;
  border-radius: 3px;
  padding-bottom: 0.3rem;
}

/* 底部 */
.p-footer .mu-flat-button .mu-button-wrapper {
  padding: 0;
  flex-direction: column;
}

@media (min-width: 750px) {
  html {
    font-size: 92px;
  }
}
